$heightNavbar: 5rem;

//size media queries
$phoneSize: 599px;
$tabletSize: 600px;
$desktopSize: 1200px;

//colors
$blueSky: #03ABE7;
$greenHope: #90C608;
$darkBlue: #1d273a;

//fonts
$fontBig: 2.6rem;
$fontMedium: 1.6rem;
$fontNormal: 1rem;
$fontSmall: 0.8rem;
