.container {
  height: auto;
  min-height: 100vh;
  background-color: #2B3151;
  padding: 1rem 5%;
  .logo {
    display: block;
    margin: auto;
  } 
}

.loader {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b315163;
  z-index: 999;
}
