@import "../../../scss/abstract/mixins";

.container-header {
  display: block;
  text-align: center;
  @include for-tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .controls {
    display: flex;
    flex-direction: column;
  }
}