@import "../../../scss/abstract/variables";


@mixin scaleSprite {
  transform: translate(-50%, -65%) scale(1.3);
}
.container-list-pokemon {
  display: block;
  justify-content: center;
}
.list-pokemon {
  padding: 1rem;
  margin-top: 150px;
  position: relative;
  width: 100%;
  &.mode-list {
    display: block;
    .item-pokemon {
      margin-bottom: 1rem;
    }
  }
  &.mode-grid {
    display: grid;
    grid-gap: 2rem;
    grid-row-gap: 100px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  &.mode-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 100px;
    .item-pokemon {
      width: 200px;
    }
  }
  .item-pokemon {
    cursor: pointer;
    position: relative;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    &.selected .content-item {
      border-color: white;
      .sprite {
        @include scaleSprite;
      }
    }
    &.isCompleted {
      opacity: 0.4;
    }
    &:not(.isCompleted):hover {
      .content-item {
        background-color: #566199;
      }
      .sprite {
        @include scaleSprite;
      }
    }
    .content-item {
      background-color: #363E66;
      border-radius: 25px;
      user-select: none;
      transition: all 0.3s ease;
      border: 4px solid transparent;
      box-shadow: 4px 4px 10px #00000024;
      padding: 1rem;
      padding-top: 4rem;
      height: 100%;
    }
    .btn {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -100%);
    }
    .sprite {
      width: auto;
      max-width: 170px;
      position: absolute;
      left: 50%;
      top: 0;
      transition: all 0.3s ease;
      transform: translate(-50%, -65%);
    }
    .name {
      color: #ffffff6e;
      font-weight: 600;
    }
  }
  .loader {
    position: absolute;
  }
}