<div class="container-woloxers text--center">
  <app-picture nameImage="woloxer" alt="woloxer"></app-picture>
  <div class="woloxers-information">
    <p class="font--bold font-size-big">
      <span class="text--green-hope">350 + </span>
      <span class="text--capitalize text--blue-sky">woloxers</span>
    </p>
    <br />
    <div class="text--white">
      <p>@Wolox</p>
      <br />
      <app-anchor-target [href]="LINK_TWITTER">
        <button type="button" class="btn btn-outline--blue-sky text--white text--sentence-case">
          {{ 'WOLOXERS.FOLLOW_US' | translate }}
        </button>
      </app-anchor-target>
    </div>
  </div>
</div>