.container-woloxers {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  .woloxers-information {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.btn {
  padding-left: 2rem;
  padding-right: 2rem;
}
:host ::ng-deep {
  .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    .img-picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top left;
    }
  }
}