<div class="container-hero px-gutter">
  <app-bg-header></app-bg-header>
  <app-navbar></app-navbar>
  <div class="container-hero_child text--left">
    <div class="font-size-big">
      <p class="text--sentence-case">{{ 'HERO.WELCOME' | translate }}</p>
      <p class="text--sentence-case"><span class="font--bold">{{ 'HERO.INTERVIEW' | translate }}</span> {{ 'HERO.IN' | translate }}</p>
      <p class="text--sentence-case text--green-hope font--bold">wolox</p>
    </div>
  </div>
  <div class="container-hero_child text--right">
    <app-picture nameImage="hero" alt="hero"></app-picture>
  </div>
</div>